@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}

hr{
  margin: 0 80px;
}

.container{
  width: 65%;
  margin: 0 auto;
  background-color: #d2fffffa;
}

header{
  text-align: center;
  padding: 10px;
}

section h2{
  text-align: center;
  padding: 15px;
}

h2 span{
  color: #69340F;
}

.receita{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 10%;
  
  
}

.receita div{
  height: 25vh;
  width: 30%;
  padding-bottom: 10px;
}

.receita div h3, li{
  margin-bottom: 10px;
}

.tabela{
  display: flex;
  justify-content: center;
  padding: 10px;
}

table, th, td{
  border: 1px solid ;
}

table caption{
  font-weight: bolder;
  margin-bottom: 5px;
  
}

table th{
  padding: 5px;
}

table td{
  padding: 3px;
  text-align: center;
}

article{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 15px;
  padding: 10px 80px;
}

.titulo{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  gap: 15px;
}

.titulo h2{
  font-size: 20px;
  color: #0b7537 ;
  text-decoration:underline;
}

.titulo q{
  font-size: 13px;
}

.imagem figcaption{
  font-size: 12px;
}

.imagem p{
  font-size: 14px;
}

footer{  
  text-align: center;
  padding: 20px;
  font-size: 15px;
  background-color: rgba(171, 216, 216, 0.249);
}

footer i{
  margin-left: 5px;
}

